<form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
    <div class="card p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
        <h5 class="font-weight-bolder">Property Create Information</h5>
        <div class="content">
            <div class="row mt-3">
                <div class="col-12 col-sm-6">
                    <label>Name</label>
                    <input class="form-control" type="text" placeholder="eg. Off-White" formControlName="Name">
                </div>
                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                    <label>Price</label>
                    <input class="form-control" type="text" placeholder="eg. 42" formControlName="Price">
                </div>
                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                    <label>Meter Number</label>
                    <input class="form-control" type="text" placeholder="eg. 42" formControlName="MeterNumber">
                </div>
                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                    <label>Meter Image</label>
                    <input class="form-control" type="file" (change)="onFileChange($event)">
                </div>
                <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                    <label>Address</label>
                    <input class="form-control" type="text" placeholder="Address" formControlName="Address">
                </div>
                <div class="form-group col-12 col-sm-6 mt-3 mt-sm-0">
                    <label for="propertyTypeSelect">Property Type</label>
                    <select class="form-control" id="propertyTypeSelect" formControlName="Type">
                        <option value="Apartment">Apartment</option>
                        <option value="House">House</option>
                        <option value="Condo">Condo</option>
                        <option value="Townhouse">Townhouse</option>
                        <option value="Commercial">Commercial</option>
                    </select>
                </div>
                <div class="form-group col-12 col-sm-6 mt-3 mt-sm-0">
                    <label for="rentalStatusSelect">Rental Status</label>
                    <select class="form-control" id="rentalStatusSelect" formControlName="RentalStatus">
                        <option value="Available">Available</option>
                        <option value="Occupied">Occupied</option>
                        <option value="UnderMaintenance">Under Maintenance</option>
                    </select>
                </div>
            </div>
            <div class="button-row d-flex mt-4">
                <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="submit" title="Next">Save</button>
            </div>
        </div>
    </div>
</form>